---
layout: default
title: Home
status: published
type: page
published: true
comments: false
description: My website is a place to push my thoughts on software engineering in general, infosec, general aviation and politics. Views are my own.
---
<div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ site.url }}{{site.baseurl}}{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>

    <span class="post-date">{{ post.date | date_to_string }}</span>

    <a class="twitter-share-button"
      href="https://twitter.com/intent/tweet?text={{ page.title }}"
      data-size="large" 
      data-url="{{ site.url }}{{site.baseurl}}{{ post.url }}"
      data-via="tiagovieira"
      data-show-count="false">Tweet
    </a>

    {{ post.content }}

  </div>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}/page{{paginator.next_page}}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}/">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}/page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>

